<h2> New Animal </h2>

<% if animal.errors.any? %>
  <h3>Please fix these errors</h3>

  <ul>
    <% @animal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
<%end%>

<form action="/animals" method="post">
  <label for="name">Date</label>
  <input id="name" name="name" type="text" value="<%= animal.name %>">
  <button class= btn btn-small btn-primary>Create animal</button>
</form>
