
<%= render('/layouts/navbar') %>

<div class="container">
<h2>Welcome to the Wildlife Tracker! </h2>
<h3> The following are the regions we are tracking:</h3>

<% if !@regions.present? %>
    <p>You have no regions to list</p>
<% else %>
  <% @regions.each do |region| %>
  <ul>
    <li><a href= "sightings/region"><%= region.name %></a></li>
  </ul>
  <% end %>
<% end %>

<p><a href="/regions/new"> Create a new region </a></p>
<br><br>

<div class="footer">
<p>Created by Peggy and Linda -  Summer 2014</p>
<p>Students at <a href="www.Epicodus.com"> Epicodus</a></p>

</div>

</div>

