<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
      <ul class="nav navbar-nav">
        <li class="active"><a href="../sightings">Sightings</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/regions">Regions</a></li>
        <li><a href="/sightings/mysightings">MySightings</a></li>
      </ul>
  </div>
</div>
